h2{position:absolute;
top: 70px;
right: 45%;}
img{width: 70px;
position:absolute;
right: 50%;}
h1{right: 35%;
    position: absolute;}
h3{position: absolute;
right: 50%;
top: 40%;}
li{position: absolute;
    right: 51%;
    top: 45%;}